<img src="bio.png" width="300" height="115">
<div class="container fondobio">
	<div class="row">
		<div class="col-md-12 left">
			<div class="cuadro3">
			<h1>Datos Personales:</h1>
			<p>Mi nombre es César David Morales Castellanos mi tipo de música
			es variada me encanta la pizza, tengo 19 años, actualmente cuanto con bachiller en ciencias y letras con orientación en diseño gráfico y los 
			días sábados estudio Diseño y Desarrollo web.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 left2">
			<div class="cuadro2">
				<h2>Pasatiempos:</h2>
			<p>Mi pasatiempo favorito son los deportes y la musica, a veces suelo tocar guitarra o escuchar música, mi deporte favorito es el gimnasio lo practico hace 2 años y tambien me gusta investigar sobre nuevos temas que no conozco.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mover">
			<div class="imagen">
			<p>cmorales_castellanos</p>
				<img src="insta.png" width="75" height="75" >
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 mover2">
			<div class="imagen2">
			<p>César Morales</p>
				<img src="face.png" width="70" height="70" >
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mover3">
			<div class="tri">
				<div class="triangulo"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mover4">
				<div class="imagen3">
					<img src="silueta.png" width="200" height="200">
				</div>
			</div>
		</div>
	</div>
</div>


