
<div class="container fondolo">
	<div class="row container">
		<div class="col-md-12 centrado">
			<div class="cuadro">
				<h1 class="letra">login</h1>
				<h2>Nombre de usuario:</h2>
				<input class="texto" type="text">
			
				<h3>Contraseña:</h3>
				<input class="contra" type="password">
				<div class="row">
				<div class="col-md-12 centrado2">
					<button type="button" class="btn btn-primary btn-lg sombra">Entrar
						</button>
				</div>
				</div>	
			</div>
		</div>				
	</div>
</div>

